<%- include ("../partials/header.ejs") %> 
<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align:center;">New Sorter</h1>
            <form action="/sorters" method ="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" type="text" name="name">
                </div>
                <strong><label for="lifterproperties">Lifter Properties</label></strong>
                <div class="form-group" id="lifterproperties">
                    <label for="lifter_status_url">Lifter Status Url</label>
                    <input id="lifter_status_url" class="form-control" type="text" name="lifter_status_url">

                    <label for="lifter_update_url">Lifter Update Url</label>
                    <input id="lifter_update_url" class="form-control" type="text" name="lifter_update_url">

                    <label for="lifter_alterspeed_url">Lifter SpeedChange Url</label>
                    <input id="lifter_alterspeed_url" class="form-control" type="text" name="lifter_alterspeed_url">
                </div>
                <strong><label for="vfeederproperties">VFeeder Properties</label></strong>
                <div class="form-group" id="vfeederproperties">
                    <label for="vfeeder_status_url">VFeeder Status Url</label>
                    <input id="vfeeder_status_url" class="form-control" type="text" name="vfeeder_status_url">

                    <label for="vfeeder_update_url">VFeeder  Update Url</label>
                    <input id="vfeeder_update_url" class="form-control" type="text" name="vfeeder_update_url">

                    <label for="vfeeder_alterspeed_url">VFeeder SpeedChange Url</label>
                    <input id="vfeeder_alterspeed_url" class="form-control" type="text" name="vfeeder_alterspeed_url">
                </div>
                <strong><label for="conveyorproperties">Conveyor Properties</label></strong>
                <div class="form-group" id="conveyorproperties">
                    <label for="conveyor_status_url">Conveyor Status Url</label>
                    <input id="conveyor_status_url" class="form-control" type="text" name="conveyor_status_url">

                    <label for="conveyor_update_url">Conveyor Update Url</label>
                    <input id="conveyor_update_url" class="form-control" type="text" name="conveyor_update_url">

                    <label for="conveyor_alterspeed_url">Conveyor SpeedChange Url</label>
                    <input id="conveyor_alterspeed_url" class="form-control" type="text" name="conveyor_alterspeed_url">

                    <label for="pusher_count">Pusher Count</label>
                    <input id="pusher_count" class="form-control" type="text" name="pusher_count">

                    <label for="pusher_status_baseurl">Pusher Status BaseUrl</label>
                    <input id="pusher_status_baseurl" class="form-control" type="text" name="pusher_status_baseurl">
                </div>
                <div class="form-group">
                    <label for="pusher_mode_baseurl">Pusher Mode BaseUrl</label>
                    <input id="pusher_mode_baseurl" class="form-control" type="text" name="pusher_mode_baseurl">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" >Submit!</button>
                </div>
            </form>
                    <a href="/preferences">Go back</a>
        </div>

    </div>
</div>
<%- include ("../partials/footer.ejs") %> 