#indexthumbnail {
    padding: 0;
   height: 380px;
   display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail img {
    display: block;
    width: auto;
    background-size: contain;
    height: 60px;
}

.photosmall img {
    display: inline-block;
    width: auto;
    background-size: contain;
    height: 150px;
    margin: 2px;
}


#indexthumbnail img {
    object-fit: cover;
    width: 100%;
    height:150px;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form {
    display: inline;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
  
    padding: 4px;
    border-radius: 2px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.red {
      background-color: red;
}

.green {
      background-color: green;
}

.color-box {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #ccc;
    left: 5px;
    top: 5px;
    border:1px solid #CCC;
    background:#DDD;
    border-radius: 4px;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
}
.color-box:hover {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.8);
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
    margin: 15px auto;
}

.table td {
   text-align: left;   
}

.textarea {
 min-height: 100px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.containerindex {
    display: block;
    width: auto;
    background-size: contain;

    object-fit: cover;
    width: 100%;
    height:150px;
    position: relative;
    color: white;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


.table-hover-sp>tbody>tr>td:hover, .table-hover-sp>tbody>tr>td:hover{
        background-color: #f5f5f5!important;
    }

.table-hover-sp>tbody>tr:hover>td, .table-hover-sp>tbody>tr:hover>th{
        background-color: inherit;
    }